:root{
  --main-color:#ff9800;
  --main-color-hover:#e99516;
  --main-size: 16px;
}
html{
  scroll-behavior: smooth;

}
body{
  font-size: var(--main-size);
}
*{
  text-transform: capitalize;
}
/* Start setting section */
.setting {
  position: fixed;
  left: -250px;
  top: 0;
  z-index: 1021;
  background-color: #FFF;
  color: #212529;
  width: 250px;
  min-height: 100vh;
  transition: .5s;
}
.show{
  left: 0;
}
.setting .gear{
  position: absolute;
  top: 100px;
  left: 250px;
  border: 1px solid rgb(217, 230, 230);
  padding: 5px;
  background-color: rgb(217, 230, 230);
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
.line{position: relative;}
.line::after{
  content: "";
  width: 48px;
  height: 3px;
  position: absolute;
  top: 110%;
  left: 41%;
  background-color: var(--main-color);
}
.setting div div span{cursor: pointer; margin-left: 5px;}

          /* color section */
.setting .color-span{
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
  opacity: .3;
  cursor: pointer;
}
.setting .color-span:nth-child(1){background-color: #ff9800;}
.setting .color-span:nth-child(2){background-color: #e91e63;}
.setting .color-span:nth-child(3){background-color: #009688;}
.setting .color-span:nth-child(4){background-color: #03a9f4;}
.setting .color-span:nth-child(5){background-color: #4caf50;}
.setting .selected {opacity: 1;}

          /* fon section */
.setting .bordered{border: 2px solid var(--main-color); padding: 5px;border-radius: 5px;}
.setting .font-span:nth-child(1){font-size: 11px;}
.setting .font-span:nth-child(2){font-size: 18px;}
.setting .font-span:nth-child(3){font-size: 24px;}

          /* images section  */
.setting .slide-span{padding: 2px 15px; border-radius: 5px;border: 1px solid #ccc;}
.setting .slide{background-color: var(--main-color); color: #fff;}

/* End setting section */

/* Start  nav bar */
.nav-link{
  color: #fff !important;
}
.nav-link:hover{
  color: var(--main-color-hover) !important;
}
.active{
  color: var(--main-color) !important;
}
.navbar-brand span{
  color: var(--main-color);
}
/* End  nav bar */

/* Start slider section */
.slider{
  /* padding-top: 56px; */
  height: calc( 100Vh - 56px );
  background-image: url(../imgs/4.jpg);
  background-size:  cover;
  background-position: center center;
  background-color: var(--main-color);
  position: relative;
}
.slider .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#000;
  opacity: .6;
}
.slider .content{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%)
}
.slider .content h2{
  color: var(--main-color); 
}
.slider .content p{
  color: rgb(216, 216, 216);
  letter-spacing: 1.2px;
}
/* End slider section */

/* Start Shuffle */
.shuffle .controles ul{
  list-style: none;
  text-align: center;
}
.shuffle .controles ul li{
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid var(--main-color);
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 10px;

}
.shuffle .controles .category,
.shuffle .controles ul li:hover{
  background-color: var(--main-color);  
  color: #fff;
  cursor: pointer;
}
.shuffle .child{
  overflow: hidden;
  border-radius: 15px!important;
}
.shuffle .child .head{
  color: var(--main-color);
  background-color: #343a40;
  font-style: italic;
}
.hidden{opacity: 0;display: none;}
/* End Shuffle */

/* Start Skills Section */
.ourskills .skill{
  border: 1px solid var(--main-color);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  line-height: 22px;
  height: 27px;
}
.ourskills .skill .text{
  width: 150px !important;
  display: inline-block;
  color: var(--main-color);
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
}
.ourskills .skill .par{
  width: 100%;
  height: 27px;
  display: inline-block ;
  background-color: #f6f6f6;
  position: relative;
}
.ourskills .skill .progress{
  width: 0;
  height: 27px;
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--main-color);
  transition: .5s;
}
/* End Skills Section */

/* Start Iamges  */
.images{position: relative;}
.images .img img{transition: .5s;}
.images .img img:hover{transform: scale(1.1,1.1); cursor: pointer;}
.iamge-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1022;
}
.iamge-overlay .holder{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.iamge-overlay img{
  border-radius: 15px;
  width: 80%;
}
.iamge-overlay .exit{
  background-color: #f00;
  padding: 15px;
  border-radius: 50%;
  color: #fff;
  display:inline-block;
  position: absolute;
  top: -10%;
  left: 82%;
  cursor: pointer;
}
/* Start Iamges  */

/* Start footer */

/* End footer */
